@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,38,86,1) 26%, rgba(2,0,36,1) 100%); */
    /* color: white;
    background-color: rgba(2,0,36,1); */
    /* color: black; */
    /* border: 2px solid red; */
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between; 
   width: 100%;
   height: 100%;
   padding: 20px 70px;
}
nav h4{
    font-size: 25px;
}
nav ul{
    /* background-color: aquamarine; */
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    font-size: 13px;
    font-weight: 600;
    list-style: none;
}
nav button{
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid black;
    background: none;
    border-radius: 20px;
}
.home{
    height: 100vh;
    display: flex;
}
.text{
    padding: 72px;
    width: 40%;
}
.text p img{
    width: 25px;
    height: 25px;
}
h1{
    font-size: 70px;
    font-weight: 400;
    border-bottom: 5px solid #000;
}
.dark{
    font-size: 70px;
    font-weight: 900;
}
p{
    margin-top: 20px;
    font-size: 20px;
    
    font-weight: 600;
}
h2{
    display: flex;
}
.text span {
    display: flex;
    justify-content: space-between;
}
.text button{
    font-size: 20px;
    padding: 10px 30px;
    border: 2px solid white;
}
.img{
    padding: 72px;
    width: 60%;
    height: 100%;
}
.img img{
    width: 100%;
}
.light_white_color{
    background-color: #F6F6F6;
}
.hero{
    padding: 20px 70px;
    display: flex;
}
.right{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
}
.right h6{
    font-size: 14px;
}
.right span{
    font-size: 12px;
}
.left{
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
.left h6{
    font-size: 16px;
}
.left span{
    font-size: 14px;
    font-weight: 600;
}
.extra{
    width: 5%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    vertical-align:middle;
}
.extra h6{
    font-size: 16px;
}
.res{
    display: block;
}
@media (max-width:768px) {
    .res{
        display: none;
    }
    nav{
        padding: 0px;
     }
    nav ul{
        display: none;
    }
    .home{
        flex-direction: column;
    }
    .text{
        width: 100%;
    }
    .img{
        padding: 0px;
        width: 100%;
    }
    .img img{
        height: 80%;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .extra{
        width: 100%;
    }
}